<header
  class="header-fixed"
  [style.backgroundColor]="shopInfo?.headerBgColor || '#fff'"
  [style.--header-bg]="shopInfo?.headerBgColor || '#fff'"
  [style.--header-text]="shopInfo?.headerBgTextColor || '#222'"
  [style.--header-text-hover]="shopInfo?.headerBgTextHoverColor || '#555'"
>
  <div>
    <div class="container">
      <div class="header-main">
        <a href="/" (click)="navigateToHome()" class="logo" routerLink="/">
          @if(shopInfo?.logoPrimary){
          <img
            [ngSrc]="shopInfo?.logoPrimary | imgCtrl : 'filename'"
            [width]="shopInfo?.logoPrimary | imgCtrl : 'width'"
            [height]="shopInfo?.logoPrimary | imgCtrl : 'height'"
            [alt]="shopInfo?.websiteName"
            [ngSrcset]="rawSrcset"
            sizes="(max-width: 599px) 200px, (min-width: 600px) 400px"
          />
          }@else {
          <p>{{ shopInfo?.websiteName }}</p>
          }
        </a>

        @if (isHydrated && !userService.isUser) {
        <a routerLink="/login" class="welcome-login">
          <p id="welcome-text">Welcome</p>
          <span class="login-link">
            Login/Sign Up
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="arrow--sBPyg undefined"
              style="--color: #211a1e"
            >
              <path
                d="M5.4797 12.8536C5.30219 12.6761 5.28605 12.3983 5.43129 12.2026L5.4797 12.1465L9.79258 7.83341L5.4797 3.5203C5.30219 3.34279 5.28605 3.06501 5.43129 2.86927L5.4797 2.81319C5.65721 2.63568 5.93499 2.61955 6.13073 2.76478L6.18681 2.81319L10.8535 7.47986C11.031 7.65737 11.0471 7.93515 10.9019 8.13089L10.8535 8.18697L6.18681 12.8536C5.99154 13.0489 5.67496 13.0489 5.4797 12.8536Z"
              ></path>
            </svg>
          </span>
        </a>
        }

        <nav class="main-nav">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-btn"
            >Home</a
          >
          <a routerLink="/products" routerLinkActive="active" class="nav-btn"
            >Products</a
          >
          <a
            routerLink="/order-tracking"
            routerLinkActive="active"
            class="nav-btn"
            >Track Order</a
          >
          <a routerLink="/my-wishlist" routerLinkActive="active" class="nav-btn"
            >Wishlist</a
          >
        </nav>

        <app-search-4 class="search-area" [shopInfo]="shopInfo"></app-search-4>

        <div class="action">
          <app-header-cart-4
            [carts]="carts"
            [cartAnimate]="cartAnimate"
          ></app-header-cart-4>

          @if (isHydrated && !userService.isUser) {
          <div class="profile-icon" routerLink="/login">
            <img
              src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/organization/62d539deb767fec5c06847bd/theme/assets/766fb4b4ed3d6bea725c.svg"
              alt="Profile"
              width="32"
              height="28"
            />
          </div>
          } @if (isHydrated && userService.isUser) {
          <div class="user-profile" routerLink="/my-account">
            <img
              src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/organization/62d539deb767fec5c06847bd/theme/assets/766fb4b4ed3d6bea725c.svg"
              alt="Profile"
              width="28"
              height="28"
              class="profile-icon-img"
            />
            <div class="user-info">
              <b class="user-name">{{ user?.name }}</b>
              <p class="user-contact">{{ user?.email || user?.phoneNo }}</p>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="header-top-area" (mouseleave)="onCategoryMouseLeave()">
      <div class="container">
        <div class="header-top">
          <ul class="category-nav">
            @for (category of categories?.slice(0, 12); track category._id) {
            <li
              class="nav-item"
              [class.has-dropdown]="category.subCategories?.length"
            >
              <a
                routerLink="/products"
                [queryParams]="{ categories: category.slug }"
                class="category-link"
                (mouseenter)="onCategoryMouseEnter(category._id, $event)"
              >
                {{ category.name }}
              </a>
              @if (hoveredCategoryId === category._id &&
              category.subCategories?.length) {
              <div
                class="simple-mega-menu"
                (mouseenter)="onCategoryMouseEnter(category._id, $event)"
              >
                <ul class="subcategory-list">
                  @for (subcategory of category.subCategories; track
                  subcategory._id) {
                  <li>
                    <a
                      [routerLink]="['/products']"
                      [queryParams]="{
                        categories: category.slug,
                        subCategories: subcategory.slug
                      }"
                    >
                      {{ subcategory.name }}
                    </a>
                  </li>
                  }
                </ul>
              </div>
              }
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div
  id="homePageOnlyHeight"
  class="homepage-only-height"
  [class.homepage-only]="isHeaderFixed"
></div>
