<main class="blog-banner">
  <div class="container">
    <section class="blog-banner-child">
      <div class="banner-area">
        <div class="banner-main">
          <h1>
            {{ "All Blogs" }}
          </h1>

          <ul>
            <li><a routerLink="/">Home</a></li>
            <li>
              <span><i class="fa fa-angle-right"></i></span>
            </li>
            <li><a routerLink="/blogs">All Blogs</a></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- END! blog-banner-child -->
  </div>
</main>
<!-- END! blog-banner -->
